label{
    font-size: 18px;
}

.form-group{
    margin-top: 0.3em;
    margin-bottom: 0.3em;
}

.border{
    border-radius: 5px;
    border-color: black;
    border-width:2px;
    padding:0.3em;
}

body {
    background-color: darkslategray;
    color: white;
    font-style: Arial;


}

header {
    font-size: 48 ;
    font: bold ;
    color:white;
}

.userTheme {
    background-color: #39729d;
    color: black;
}

.opponentTheme {
    background-color: #974b47;
    color: black;
}



.flexbox {
    display: flex;
    padding:1%;
    width: auto;
    float: auto;

}

.primaryfooter {
    text-align: center;
    width: 100%;
}

.nav-item:hover{ /*screen updating CSS rule*/
    color:white;
    text-decoration: underline;
    transition-duration: 600ms;
}

.navbar-brand:hover{ /*screen updating CSS rule*/
    color:lightblue;
    text-decoration: underline;
    transition-duration: 600ms;
    
}
.btn:focus{ /*screen updating CSS rule*/
    background-color:green;
}

.btn-group{
    justify-content: end;
}


.centertext {
    text-align:center;
}

.buildimg {
    width: 100px;
    height: 80px;
}
img {
    display:flex;
    width: 100px;
    height: 80px;
    border-radius: 20px;
    border-color: black;
    border-width:20px;
    padding:0.3em;
}